<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="utf-8">
    <title>One Sales</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/jquery-ui.min.css}" rel="stylesheet">
    <link th:href="@{/tema/headers.css}" rel="stylesheet">
</head>
<body>
<!-- Header -->
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/aplicacion" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img class="me-2" th:src="@{/imagen/logo.png}" alt="" width="50" height="50">
            <span th:text="Bienvenido + ' ' + ${usuarioEntity.nombre} + '!'" class="fs-4 fw-bold"></span>
        </a>
        <div class="col-lg-6">
            <nav class="navbar navbar-expand-lg">
                <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categorias</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li th:if="${usuarioEntity.tipoUsuario}">
                                    <a class="dropdown-item" th:href="@{/categoria/alta-categoria}">Alta Categoria</a>
                                </li>
                                <li><a class="dropdown-item" th:href="@{/categoria/lista-categoria}">Lista Categorias</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="navbarNavDropdown2">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">Productos</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                                <li th:if="${usuarioEntity.tipoUsuario}">
                                    <a class="dropdown-item" th:href="@{/producto/alta-producto}">Alta Productos</a>
                                </li>
                                <li><a class="dropdown-item" th:href="@{/producto/lista-producto}">Lista Productos</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="navbarNavDropdown3">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button" data-bs-toggle="dropdown" aria-expanded="false">Clientes</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                                <li><a class="dropdown-item" th:href="@{/cliente/alta-cliente}">Alta Clientes</a></li>
                                <li><a class="dropdown-item" th:href="@{/cliente/lista-cliente}">Lista Clientes</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="navbarNavDropdown4">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink4" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ventas</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                                <li><a class="dropdown-item" th:href="@{/venta/nueva-venta}">Nueva Venta</a></li>
                                <li><a class="dropdown-item" th:href="@{/venta/lista-venta}">Lista Ventas</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- Botón de cierre de sesión -->
                <div class="d-flex">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Cerrar sesión" class="btn btn-danger"/>
                    </form>
                </div>
            </nav>
        </div>
    </header>
</div>
<!-- Main Content -->
<main class="text-center">
    <div class="card mx-auto" style="width: 80%">
        <h4 class="card-header"><strong>Agregar Productos</strong></h4>
        <div class="card-body">
            <div th:if="${error}" class="alert alert-danger">
                <p th:text="${error}"></p>
            </div>
            <div th:if="${success}" class="alert alert-success">
                <p th:text="${success}"></p>
            </div>
            <form th:action="@{/venta/detalle-venta/agregar-producto}" th:object="${detalleVentaEntity}" method="post">
                <div class="row">
                    <div class="col-md-4 mx-auto">
                        <div class="form-group">
                            <label for="producto">Producto:</label>
                            <input type="text" class="form-control text-center"
                                   id="producto" name="producto"
                                   th:field="*{producto.nombre}"
                                   placeholder="Buscar producto"
                                   required="true"
                            >
                        </div>
                    </div>
                    <div class="col-md-4 mx-auto">
                        <div class="form-group">
                            <label for="cantidad">Cantidad:</label>
                            <input type="text" class="form-control text-center"
                                   id="cantidad" name="cantidad"
                                   th:field="*{cantidad}"
                                   placeholder="Cantidad"
                                   required="true">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mx-auto text-center">
                        <button class="btn btn-primary" type="submit">Agregar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="card mx-auto mt-4" style="width: 80%">
        <h4 class="card-header"><strong>Productos de la Venta</strong></h4>
        <div class="card-body">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Total</th>

                </tr>
                </thead>
                <tbody>
                <!-- Itera sobre los detalles temporales y muéstralos -->
                <tr th:each="detalle, detalleIndex : ${detallesTemporales}">
                    <td th:text="${detalle.producto.nombre}"></td>
                    <td th:text="${detalle.cantidad}"></td>
                    <td th:text="${detalle.producto.precio}"></td>
                    <td th:text="${detalle.cantidad * detalle.producto.precio}"></td>
                    <td>
                        <form th:action="@{/venta/detalle-venta/eliminar-detalle}" method="post">
                            <input type="hidden" name="detalleIndex" th:value="${detalleIndex.index}" />
                            <button type="submit" class="btn btn-danger btn-sm">
                                <i class="fas fa-times"></i>
                            </button>
                        </form>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td><strong>Total Venta:</strong></td>
                    <td>
                        <span th:text="${#aggregates.sum(detallesTemporales.![cantidad * producto.precio])}"></span>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
        <div class="card-footer">
            <form th:action="@{/venta/detalle-venta/finalizar-venta}" method="post">
                <button class="btn btn-success" type="submit">Finalizar Venta</button>
            </form>
        </div>
    </div>
</main>
<script th:src="@{/bootstrap/js/popper.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/bootstrap/js/misconfiguraciones.js}"></script>
<script th:src="@{/bootstrap/js/jquery-3.6.3.js}"></script>
<script th:src="@{/bootstrap/js/jquery-ui.min.js}"></script>
<script th:replace="venta/autocompletar :: jsproducto"></script>
<script th:replace="venta/autocompletar :: jseliminarventa"></script>
</body>
</html>