<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ventas</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/jquery-ui.min.css}" rel="stylesheet">
    <link th:href="@{/tema/headers.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.22/css/jquery.dataTables.min.css">
    <style>
        .btn-outline-blue {
            color: #007bff;
            border-color: #007bff;
        }
        .btn-outline-blue:hover {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
        }
    </style>
    <style>
        .dataTables_wrapper {
            width: 95%;
            overflow: auto;
        }
    </style>
</head>
<body>
<!-- Header -->
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/aplicacion" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
            <img class="me-2" th:src="@{/imagen/logo.png}" alt="" width="50" height="50">
            <span th:text="Bienvenido + ' ' + ${usuarioEntity.nombre} + '!'" class="fs-4 fw-bold"></span>
        </a>
        <div class="col-lg-6">
            <nav class="navbar navbar-expand-lg">
                <button class="navbar-toggler" type="button"
                        data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">Categorias</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li th:if="${usuarioEntity.tipoUsuario}">
                                    <a class="dropdown-item" th:href="@{/categoria/alta-categoria}">Alta Categoria</a>
                                </li>
                                <li><a class="dropdown-item" th:href="@{/categoria/lista-categoria}">Lista Categorias</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="navbarNavDropdown2">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-bs-toggle="dropdown" aria-expanded="false">Productos</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                                <li th:if="${usuarioEntity.tipoUsuario}">
                                    <a class="dropdown-item" th:href="@{/producto/alta-producto}">Alta Productos</a>
                                </li>
                                <li><a class="dropdown-item" th:href="@{/producto/lista-producto}">Lista Productos</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="navbarNavDropdown3">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button" data-bs-toggle="dropdown" aria-expanded="false">Clientes</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                                <li><a class="dropdown-item" th:href="@{/cliente/alta-cliente}">Alta Clientes</a></li>
                                <li><a class="dropdown-item" th:href="@{/cliente/lista-cliente}">Lista Clientes</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="navbarNavDropdown4">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink4" role="button" data-bs-toggle="dropdown" aria-expanded="false">Ventas</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                                <li><a class="dropdown-item" th:href="@{/venta/nueva-venta}">Nueva Venta</a></li>
                                <li><a class="dropdown-item" th:href="@{/venta/lista-venta}">Lista Ventas</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="collapse navbar-collapse" id="navbarNavDropdown5">
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink5" role="button" data-bs-toggle="dropdown" aria-expanded="false">Facturas</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                                <li><a class="dropdown-item" th:href="@{/factura/alta-factura}">Alta Factura</a></li>
                                <li><a class="dropdown-item" th:href="@{/factura/lista-factura}">Lista Facturas</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- Botón de cierre de sesión -->
                <div class="d-flex">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Cerrar sesión" class="btn btn-danger"/>
                    </form>
                </div>
            </nav>
        </div>
    </header>
</div>

<!-- Main Content -->
<main class="container d-flex flex-column align-items-center justify-content-center text-center">
    <h1 th:text="${operacion}" style="margin-bottom: 20px;"></h1>
    <div th:if="${error}" class="alert alert-danger">
        <p th:text="${error}"></p>
    </div>
    <div th:if="${success}" class="alert alert-success">
        <p th:text="${success}"></p>
    </div>
    <table id="tablas" th:if="${!venta.isEmpty()}" class="table table-striped table-hover table-sm" style="margin-bottom: 20px;">
        <thead class="table table-bordered">
        <tr>
            <th scope="col">Ticket</th>
            <th scope="col">Vendedor</th>
            <th scope="col">Cliente</th>
            <th scope="col">Fecha</th>
            <th scope="col">Total</th>
            <th scope="col">Operaciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ve: ${venta}">
            <td th:text="${ve.id}"></td>
            <td th:text="${ve.usuario.nombre}"></td>
            <td th:text="${ve.cliente.email}"></td>
            <td th:text="${#dates.format(ve.fecha, 'yyyy-MM-dd')}"></td>
            <td th:text="${ve.total}"></td>
            <td>
                <a th:href="@{/venta/detalle-venta/{id} (id=${ve.id})}" class="btn btn-outline-success">
                    <i class="fas fa-table" aria-hidden="true"></i> Detalle
                </a>
                <div class="modal fade" id="detalleModal" tabindex="-1" role="dialog" aria-labelledby="detalleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="detalleModalLabel">Detalle de la Venta</h5>
                            </div>
                            <div class="modal-body">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <th>Nombre del Producto</th>
                                        <th>Cantidad</th>
                                        <th>Precio</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <a th:href="@{/venta/enviar-mail/{id} (id=${ve.id})}" class="btn btn-outline-blue">
                    <i class="fas fa-envelope" aria-hidden="true"></i> Enviar
                </a>
            </td>
        </tr>
        </tbody>
    </table>
    <nav th:replace="plantillas/pag-nav:: paginador " class="mt-3 d-flex justify-content-center"></nav>
</main>

<script th:src="@{/bootstrap/js/jquery-3.6.3.js}"></script>
<script th:src="@{/bootstrap/js/jquery-ui.min.js}"></script>
<script th:src="@{/bootstrap/js/popper.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/bootstrap/js/misconfiguraciones.js}"></script>
<script src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
<script th:replace="js/tablas :: jsTablaVenta"></script>
<script>
    $(document).ready(function() {
     $('.btn-outline-success').click(function(e) {
         e.preventDefault();
         var url = $(this).attr('href');
         $.get(url, function(data) {
             if (data) {
                 var tableBody = '';
                 data.forEach(function(detalle) {
                     tableBody += '<tr><td>' + detalle.producto.nombre + '</td><td>' + detalle.cantidad + '</td><td>' + detalle.producto.precio + '</td></tr>';
                 });
                 $('#detalleModal .modal-body table tbody').html(tableBody);
                 $('#detalleModal').modal('show');
             } else {
                 alert('Venta no encontrada');
             }
         });
     });
 });
</script>
</body>
</html>